.footer{
  position: relative;
  background-color: #403f3f;
  color: white;


  a{
    color: white;
    text-decoration: none;
    &:hover{
      color: $secondary-color;
    }
  }

  &__link{
    font-size: 17px;
    color: white;
    font-family: $headers-font-bold;
    margin-top: 15px;
   }

  &__quest{
    text-align: right;
    p{
      @include content-text;
      color: white;
      text-align: right;
      font-size: 17px;
      font-weight: 100;
      margin: 0;
    }
    a{
      text-align: right;
      font-weight: $headers-font-regular;
      font-weight: 600;
      font-size: 17px;
      color: white;
    }
  }

   &-container{
     margin: 20px 0;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 0 3%;
   }

  .top-button-block{
    position: fixed;
    bottom: 140px;
    z-index: 9999;
    right: 4%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    .top-button{
      width: 70px;
      height: 70px;
      background-color: black;
      color: white;
      border-radius: 50%;
      text-align: center;
      line-height: 60px;
      cursor: pointer;
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
      &:hover{
        opacity: 1;
      }
      &::before{
        font-family: FontAwesome;
        font-size: 60px;
        content: '\f106';
      }
    }
  }
}