.nav{
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 10px 0;
  &__logo {
    transition: all 0.3s ease-in-out;
    flex: 1 15%;
    img{
      width: 200px;
      height: 61px;
      filter: grayscale(100%);
    }
    &:hover{
      transform: scale(1.05);
    }
  }
  &__title{
    font-size: 23px;
    color: $main-font-color;
    flex: 1 30%;
    font-family: $primary-font;
    align-self: flex-start;
    position: relative;
    text-align: center;
    font-weight: 600;
  }
  &__tel{
    font-family: $primary-font;
    align-self: center;
    display: block;
    position: relative;
    flex: 1 20%;
    margin-left: auto;
    width: 20%;
    text-align: center;
    font-weight: 600;
    a{
      display: block;
      color: $main-font-color;
      font-size: 27px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      &:hover{
        opacity: 0.8;
        color: $main-font-color;
        text-decoration: none;
      }
    }
  }

}
