.recomendations{
  @extend .approach;
  background: white;

  &-info{
    display: flex;
    margin: 40px 0 38px 0;
    flex-flow: row wrap;
    justify-content: space-around;
    &__item{
      text-align: center;
      width: 30%;
      h4{
        @include subtitle-text;
        margin: 25px 0 15px;
      }

      p{
        @include content-text;
        font-weight: 100;
      }
      img{
        width: 82px;
        height: 82px;
      }
    }
    @for $item from 1 through 3 {
      &__item:nth-child(#{$item}){
        margin-bottom: 36px;
      }
    }
  }

  .separatorbottom{
    #bottom-triangle{
      fill: #E0E0E0;
    }
  }

}