.approach{
  margin: 0;
  padding-top: 40px;
  background-color: #f7fbfe;
  padding-bottom: 22px;

  .button{
    display: block;
    margin: 40px auto;
  }

  .slick-slide{
    height: 150px;
  }
  &-types{
    width: 100%;
    margin: 170px auto 20px auto;

    &-wrapper{
      display: flex;
      flex-flow: row;
      justify-content: center;
      width: 75%;
      margin: auto;
    }
    &__item{
      flex: 1 ;
      text-align: center;
      cursor: pointer;
      position: relative;

      &:nth-child(2n) {
        position: relative;
        top: -120px;
        &::before{
          position: absolute;
          display: block;
          left: -50%;
          top: 37px;
          content:'';
          background: url('../images/arrow-right.png') no-repeat;
          background-size: 65%;
          width: 40px;
          height: 60px;
        }
        &::after{
          position: absolute;
          display: block;
          top: 100%;
          right: calc(50% - 40px);
          content:'';
          background: url('../images/arrow-down-right.png') no-repeat;
          background-size: 65%;
          width: 40px;
          height: 60px;
        }
      }

      figcaption{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 90px;
        height: 90px;
        border: 2px solid $secondary-color;
        border-radius: 50%;
        text-align: center;
        transition: border-color 0.3s ease-in-out;
      }

      p{
        position: relative;
        width: 120%;
        right: 10%;
        font-family: $headers-font-regular;
        font-weight: 600;
        font-size: 14px;
        color: $navbar-font-color;
      }

      &--active{
        p{
          color: $main-font-color;
        }
        figcaption{
          border-color: $third-color;
        }
      }

      img{
        display: block;
        width: 60%;
      }
    }
  }
  &-slider{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 80%;
    margin: auto;
    align-items: center;
    border: 2px solid $secondary-color;
    border-radius: 80px;
    &__nav{
      width: 10%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover{
        transform: scale(1.2);
      }
      .arrow-block{
        margin: auto;
        border: 2px solid $navbar-font-color;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
      img{
        display: block;
        position: relative;
        top: calc(50% - 12px);
        width: 24px;
        height: 24px;
        margin: auto;
      }
      &:first-child{
        img{
          right: 2px;
        }
      }
      &:last-child{
        img{
          left: 2px;
        }
      }
    }
    &__block{
      width: 75%;
    }
    &__item{
      text-align: center;
      padding: 30px 15px 20px;
      height: 150px;
      p{
        @include content-text;
        padding: 5px 0 0 0;
        margin: 5px auto;
        width: 85%;

      }
    }
  }
}